:root {
    --progress-size: 5vw;
    --progress: 20vw;
}

.input {
    width: 10vw;
}

.progressWrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.toggles {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    flex-direction: column; 
}

@media (orientation: landscape) {
  .progressWrapper {
    flex-direction: row;
  }
}

svg {
    transform: rotate(-90deg);
}