.progress-input {
    width: 10vw;
}

.progress-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.progressbar-animate {
    animation: rotation 1s linear infinite;
}

.progressbar-hide {
    display: none;
}

.progress-toggles {
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-direction: column; 
}

.progress-svg {
    transform: rotate(-90deg);
    pointer-events: none;
}

@media (orientation: landscape) {
  .progress-wrapper {
    flex-direction: row;
  }
}

@keyframes rotation {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}