:root {
    --progress-size: 5vw;
    --progress: 20vw;
}

.input {
    width: 10vw;
}

.progressWrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.progressbar-animate {
    animation: rotation 1s linear infinite;
}

.progressbar-hide {
    display: none;
}

.toggles {
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-direction: column; 
}

@media (orientation: landscape) {
  .progressWrapper {
    flex-direction: row;
  }
}

svg {
    transform: rotate(-90deg);
}

@keyframes rotation {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}